/*======ABOUT US=====*/
.about__aboutus{
margin-top: 3rem;
}

.about__aboutus-container{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.about__aboutus-right > p{
    margin: 1.6rem 0 2.5rem;
}


/*======TEAM=====*/
.team{
    background: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team__member{
    background: var(--color-bg2);
    padding: 2rem;
    border: 1px solid  transparent;
}


.team__member:hover{
    background: transparent;
    border-color: var(--color-primary);
}


.team__member-image img{
    filter: saturate(0);
}

.team__member:hover img{
    filter: saturate(1);
}

.team__member-info * {
    text-align: center;
    margin: 1.4rem;
}

.team__member-info p{
    color: var(--color-light);
}




/*======MEDIA (TABLETS)====*/
@media screen and (max-width: 1024px) {
    .about__aboutus{
        margin-top: 2rem;
    }
    

    .about__aboutus-container{
        grid-template-columns: 1fr;
        gap: 4rem;
    }

.about__aboutus-left{
    width: 80%;
    margin: 0 auto;
}

.team__container{
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


.team__member{
    padding: 1rem;
}
}


/*======MEDIA (PHONE)===========*/
@media screen and (max-width: 600px) {
    .team__container{
        grid-template-columns: 1fr 1fr;
        gap: 0.7rem;
    }
    
    .team__member{
        padding: 0;
    }
    .team__member p{
        margin-bottom: 1.5rem;
    }
}